 <div id="footer">
                <ul>
                    <li class="first">
                        <ul>
                            <li>
                                <a href="{{path("homepage")}}">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="{{path("food")}}">Menu</a>
                            </li>
                            <li>
                                <a href="{{path("beer")}}">Beer</a>
                            </li>
                            <li>
                                <a href="{{path("blog")}}">Blog</a>
                            </li>
                            <li>
                                <a href="contact">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Follow us:</span> <a href="http://www.freewebsitetemplates.com/go/facebook" class="facebook">&nbsp;</a> <a href="http://www.freewebsitetemplates.com/go/twitter" class="twitter">&nbsp;</a> <a href="http://www.freewebsitetemplates.com/go/googleplus" class="googleplus">&nbsp;</a>
                    </li>
                    <li class="last">
                        <span> &copy; copyright 2012 &copy;. All rights reserved.</span>
                    </li>
                </ul>
            </div>