{% extends 'base.html.twig' %}
  
  {% block header %}
  
     {% include "::header_interna.html.twig" %}

  {% endblock %}
  
{% block body %}

			<div id="body">
				<div class="content">
					<div class="body">
						<h3>BEER</h3>
						<ul class="section">
							<li class="odd">
								<h2>a place holder</h2>
								<ul>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li class="last">
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
								</ul>
							</li>
							<li>
								<h2>a place holder</h2>
								<ul>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li>
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
									<li class="last">
										<h2><a href="food.html">This is just a place holder</a></h2>
										<span>$00.00</span>
										<p>
											You can replace all this text with your own text.
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

{% endblock %}