{% extends 'base.html.twig' %}

{% block body %}
           <div id="body">
                <div class="slider">
                    <ul>
                        <li class="first">
                            <h2>This is just a place holder</h2>
                            <img src="images/nine-dollars.gif" alt="">
                            <p>
                                This is just a place holder, so you can see what the site would look like.
                            </p>
                            <a href="reservation.html">BOOK A TABLE</a>
                        </li>
                        <li>
                            <a href="index.html"> <img src="images/barbeque.jpg" width="640" height="331" alt="Steak House" title="Steak House"></a>
                        </li>
                    </ul>
                </div>
                <ul id="featured">
                    <li class="first">
                        <a href="food.html"><img src="images/food-menu.jpg" alt="steak house" title="steak house"></a>
                    <li>
                    <li>
                        <a href="beer.html"><img src="images/beer.jpg" alt="steak house" title="steak house"></a>
                    <li>
                </ul>
                <div class="section">
                    <h3>$7 LUNCH & DINNER BUFFET </h3>
                    <p>
                        This is a place holder, so you can see what the site would look like.
                    </p>
                </div>
                <div id="content">
                    <div class="article">
                        <ul>
                            <li>
                                <h2><a href="#">About the company</a></h2>
                                <a href="#"><img src="images/waiter.jpg" width="162" height="101" alt="steak house" title="steak house"></a>
                                <p>
                                    This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. <a href="#">(more)</a>
                                </p>
                            </li>
                            <li>
                                <h2><a href="#">OUR humble beginnings</a></h2>
                                <a href="#"><img src="images/food.jpg" width="162" height="122" alt="steak house" title="steak house"></a>
                                <p>
                                    You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. This is just a place holder, so you can see what the site would look like. <a href="#">(more)</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="aside">
                        <h3>blog</h3>
                        <ul>
                            <li>
                                <h2>This is just a place holder</h2>
                                <p>
                                    You can remove any link to our website from this website template. <a href="#">(more)</a>
                                </p>
                            </li>
                            <li>
                                <h2>This is just a place holder</h2>
                                <p>
                                    This is just a place holder, so you can see what the site would look like. <a href="#">(more)</a>
                                </p>
                            </li>
                            <li class="last">
                                <h2>This is just a place holder</h2>
                                <p>
                                    You're free to use this website template without linking back to us. <a href="#">(more)</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>     
{% endblock %}